In [34]:
import pandas as pd
import numpy as np
from sklearn import metrics
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
df=pd.read_csv(r'D:\swastik\ML\datasets\ChurnData.csv')
df.head()
# metrics.mean_squared_error

,tenure,age,address,income,ed,employ,equip,callcard,wireless,longmon,...,pager,internet,callwait,confer,ebill,loglong,logtoll,lninc,custcat,churn
0,11.0,33.0,7.0,136.0,5.0,5.0,0.0,1.0,1.0,4.40,...,1.0,0.0,1.0,1.0,0.0,1.482,3.033,4.913,4.0,1.0
1,33.0,33.0,12.0,33.0,2.0,0.0,0.0,0.0,0.0,9.45,...,0.0,0.0,0.0,0.0,0.0,2.246,3.240,3.497,1.0,1.0
2,23.0,30.0,9.0,30.0,1.0,2.0,0.0,0.0,0.0,6.30,...,0.0,0.0,0.0,1.0,0.0,1.841,3.240,3.401,3.0,0.0
3,38.0,35.0,5.0,76.0,2.0,10.0,1.0,1.0,1.0,6.05,...,1.0,1.0,1.0,1.0,1.0,1.800,3.807,4.331,4.0,0.0
4,7.0,35.0,14.0,80.0,2.0,15.0,0.0,1.0,0.0,7.10,...,0.0,0.0,1.0,1.0,0.0,1.960,3.091,4.382,3.0,0.0

In [35]:
x=np.asanyarray(df[['tenure', 'age', 'address', 'income', 'ed', 'employ', 'equip']])

StandarScaler -> helps making data uniform so all the columns of np array can be compared fairly

In [36]:
x=preprocessing.StandardScaler().fit(x).transform(x)

In [37]:
y=np.asanyarray(df[['churn']])

# What is random_state?
It acts as a seed for the random number generator used to shuffle and split the data.
The random number generator ensures that the splitting of data into training and testing sets is done randomly but consistently for a given random_state value.

In [38]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=3)